html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 28px;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-content {
  max-width: 970px;
  margin: 0 auto;
}


a {
  display: inline-block;
}

.title {
  font-family: 'Roboto Slab', serif;
  color: #4E5665;
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
}



